<?xml version='1.0' encoding='utf-8'?>
<widget id="iOSStart.SimpleSerial" version="2.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chat</name>
    <description>
        A Sample Chat Application demonstrating the BluetoothSerial PhoneGap plugin.
    </description>
    <author email="don.coleman@gmail.com" href="http://megster.com">
        Don Coleman
    </author>

    <access origin="*" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisallowOverscroll" value="true" />

    <plugin name="NetworkStatus" value="CDVConnection" />


<allow-navigation href="http://www.bonappetit.com/recipes" subdomains="true"/>
<allow-navigation href="http://www.yummly.com" subdomains="true"/>
<allow-navigation href="http://allrecipes.com" subdomains="true"/>
<allow-navigation href="http://www.epicurious.com" subdomains="true"/>
<access origin="*" />

<platform name="ios">
    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
</platform>

</widget>
